:root {
	--color-install-button: #48d929;
	--color-source-button: #ff8f00;
	--color-discord-button: #9098f2;
}

body {
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	background: black;
	color: white;
}

#main {
	background: black;
	border: 1px solid white;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 25px;
	padding: 0px 30px 35px 30px;
	width: 920px;
}

#main img {
	height: 55px;
    margin-right: 20px;
    transform: translateY(8px);
}

#title {
	font-size: 50px;
}

#subtitle {
	margin-top: -33px;
	font-weight: 300;
	font-size: 26px;
}

#module-list {
	list-style-type: none;
	margin-left: -35px;
}
#module-list>li>ul {
	margin-bottom: 15px;
}

.description-box h1 {font-size: 45px;}

.description-box h2,li {text-align: left;}

.description-box h2, .instructions-box h2 {color: #ffca64;}

.description-box h2+ul {margin-bottom: 40px;}

.description-box img {width: 100%; filter: drop-shadow(1px 1px 6px #71afff);margin-top:30px;margin-bottom: 40px;}

.description-box {
	background: #0f0f0f;
	box-sizing: border-box;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 30px auto 30px auto;
	width: 920px;
	transition: all 0.1s;
}

.instructions-box {
	border: 1px solid #1e1e1e;
	box-sizing: border-box;
    border-radius: 5px;
	background: #0f0f0f;
	padding-left: 30px;
	padding-right: 85px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 30px auto 30px auto;
	width: 750px;
	transition: all 0.3s;
}

.module {
	font-weight: bold;
	font-size: 20px;
}

.btn-container {
	align-content: center;
	display: grid;
	gap: 25px;
	grid-auto-flow: column;
	justify-content: center;
	margin-top: 30px;
	margin-left: 150px;
	margin-right: 150px;
}

.menu-btn {
	color: white;
	border-radius: 2px;
	text-decoration: none;
	line-height: 54px;
	height: 54px;
	width: 250px;
	transition: all 0.3s;
}

.btn-green {
	border: 1px solid var(--color-install-button);
	color: var(--color-install-button);
}

.btn-green:hover {
	border: 1px solid #b2ffa1;
	color: #b2ffa1;
	background: #b2ffa120;
}

.btn-orange {
	border: 1px solid var(--color-source-button);
	color: var(--color-source-button);
}
.btn-orange:hover {
	border: 1px solid #ffc070;
	color: #ffc070;
	background: #ffc07020;
}	

.btn-discord {
	border: 1px solid var(--color-discord-button);
	color: var(--color-discord-button);
}
.btn-discord:hover {
	border: 1px solid #d8dbf9;
	color: #d8dbf9;
	background: #9098f220;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
  #main, .description-box, .instructions-box {
	  width: 700px;
  }	

  .description-box, .instructions-box {
      padding-left: 40px;
	  padding-right: 40px;
  }
  
  .btn-container {
	  grid-auto-flow: row;
  }
}

@media screen and (max-width: 700px) {
  #title {
	  font-size: 34px;
  }
  
  #subtitle {
	  font-size: 20px;
	  margin-top: -25px;
  }
  
  #main {
	  padding: 10px 35px 35px 35px;
  }	
  
  #main, .description-box, .instructions-box {
	  width: 400px;
  }

  #main img {
    transform: none;
	display: block;
    margin: 0 auto;
  }
}

/* Fonts */

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/noto-sans-v35-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-sans-v35-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/noto-sans-v35-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/noto-sans-v35-latin-700.woff2') format('woff2');
}
